/*Font styling*/
.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/*Body nav styling*/
body{
  width: 1440px;
  height: 656px;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 200px;
}
nav h2{
  color: rgb(13, 19, 33);
  font-size: 28px;
  font-weight: 800;
  text-align: center;
}

nav button{
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
  padding: 17px 24px 17px 24px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  margin: 0px 10px;


}

/*Intro container stylings*/
.intro-cotainer{
  background-image: url("/assets/Hero-bg.png");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.intro-image{

  width: 240.28px;
  height: 240px;
  margin-top: 26px;
}

.intro-title{
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  text-align: center;
  margin: 32px 221px 0px;
}

.intro-paragraph{
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  margin: 24px 221px 0px;
}



.intro-button{
  padding: 21px 24px 21px 24px;
  margin: 32px;
  border-radius: 8px;
  background: rgb(13, 19, 33);
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
}